* {
  margin: 16px;
  padding: 0px;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  background-color: greenyellow;
}

h2,
h5,
h6 {
  text-align: center;
}

img {
  width: 100px;
  height: 150px;
}

ul {
  list-style: none;
  cursor: pointer;
}

li {
  padding: 10px;
  text-align: start;
  border: 2px solid yellow;
  border-radius: 10px;
}

.card,
.btn {
  border: 2px solid yellow;
  background-color: #fffbac;
  cursor: pointer;
}
